<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="bike" class="com.di.Bike">
  <!--   <property name ="color" value="Green"></property> -->     <!--  default constructor internally call and set color = Green --> 
   <constructor-arg name="engine">			 <!-- in case when we set value through constructor -->
   <bean class = "com.di.Engine"></bean>   
   </constructor-arg>       
    </bean>
    
    <bean id="car" class="com.di.Car">  
   <constructor-arg name="engine">			 <!-- in case when we set value through constructor -->
   <bean class = "com.di.Engine"></bean>  
   </constructor-arg>        
    </bean>

</beans>


<!-- Bike bike = new bike();
bike.setColor("Green") -->